:root {
  --bg-header-top: #F8F8F8;
  --color-logo-span: #3d56a3;
  --color-ancora-nav: #737373;
  --color-ancora-hover: #42b3e5;
  --color-ancora-change-hover: #ffffff;
  --color-banner-textimport-one: #f7f7f7;
  --color-banner-options-houver: #fff;
  --color-banner-options-ancora-text: #42bae5;
  --color-banner-options-banner-one: #42b3e5;
  --color-banner-options-banner-two: #0384ce;
  --color-banner-options-banner-tree: #3156a3;
  --color-text-banner-options: #fff;
  --color-ancora-button: #fff;
  --color-widget-title-text: #000000;
  --color-widget-title-bar: #42b3e5;
  --color-news-posted-at: #2b4c99;
  --color-text-news-posted-at: #ffffff;
  --color-news-comments: #42b3e8;
  --color-text-news-title: #000000;
  --color-text-news-resume: #5c5c5c;
  --color-background-footer: #1e1e1e;
  --color-text-banner-footer: #fff;
  --color-banner-footer-one: #42b3e5;
  --color-banner-footer-two: #0384ce;
  --color-banner-footer-three: #3156A3;
  --banner-footer-three-text: #ffffff;
  --color-banner-footer-area: #fff;
  --color-widget-title-text: #b5c0c5;
  --color-footer-copy-div: #fff;
  --color-background-copy-area: #151515;
  --color-mm-line: #3156a3;
  --color-checkbox-menu: #3156a3;
}
* {
  font-family: "Source sans serif";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
